{{ define "main" }}
<article>
    <div class="container">
        <!-- Featured News Section -->
        {{ $featuredNews := where (where site.RegularPages "Section" "neuigkeiten") "Params.featured" true }}
        {{ if $featuredNews }}
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="featured-news-container">
                    <h2 class="featured-news-title">
                        <i class="fa fa-bullhorn"></i> Aktuelle Neuigkeiten
                    </h2>
                    {{ range first 2 (sort $featuredNews "Date" "desc") }}
                    <div class="featured-news-item">
                        <div class="featured-news-header">
                            <h3>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </h3>
                            {{ with .Params.subtitle }}
                            <p class="featured-news-subtitle">{{ . }}</p>
                            {{ end }}
                        </div>
                        <div class="featured-news-meta">
                            <span class="featured-news-date">
                                <i class="fa fa-calendar"></i> {{ .Date.Format "02.01.2006" }}
                            </span>
                            {{ with .Params.author }}
                            <span class="featured-news-author">
                                <i class="fa fa-user"></i> {{ . }}
                            </span>
                            {{ end }}
                        </div>
                        {{ if .Params.description }}
                        <div class="featured-news-summary">
                            <p>{{ .Params.description }}</p>
                        </div>
                        {{ else }}
                        <div class="featured-news-summary">
                            <p>{{ .Summary | plainify | truncate 250 }}</p>
                        </div>
                        {{ end }}
                        <div class="featured-news-link">
                            <a href="{{ .Permalink }}" class="btn btn-primary">
                                Weiterlesen <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}

        <!-- Featured Termine Section -->
        {{ $featuredEvents := where (where site.RegularPages "Section" "termine") "Params.featured" true }}
        {{ if $featuredEvents }}
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="featured-events-container">
                    <h2 class="featured-events-title">
                        <i class="fa fa-calendar-check-o"></i> Wichtige Termine
                    </h2>
                    {{ range sort $featuredEvents "Date" "asc" }}
                    <div class="featured-event">
                        <div class="featured-event-header">
                            <h3>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </h3>
                            {{ with .Params.subtitle }}
                            <p class="featured-event-subtitle">{{ . }}</p>
                            {{ end }}
                        </div>
                        <!-- Prüfe ob mehrere Termine vorhanden sind -->
                        {{ if .Params.dates }}
                        <div class="featured-event-dates-list">
                            {{ range .Params.dates }}
                            <div class="featured-event-meta">
                                <span class="featured-event-date">
                                    <i class="fa fa-calendar"></i> {{ .date }}
                                </span>
                                {{ with .location }}
                                <span class="featured-event-location">
                                    <i class="fa fa-map-marker"></i> {{ . }}
                                </span>
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                        {{ else }}
                        <!-- Einzelner Termin -->
                        <div class="featured-event-meta">
                            <span class="featured-event-date">
                                <i class="fa fa-calendar"></i> {{ .Date.Format "02.01.2006, 15:04 Uhr" }}
                            </span>
                            {{ with .Params.location }}
                            <span class="featured-event-location">
                                <i class="fa fa-map-marker"></i> {{ . }}
                            </span>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ if .Params.description }}
                        <div class="featured-event-summary">
                            <p>{{ .Params.description }}</p>
                        </div>
                        {{ else }}
                        <div class="featured-event-summary">
                            <p>{{ .Summary | plainify | truncate 200 }}</p>
                        </div>
                        {{ end }}
                        <div class="featured-event-link">
                            <a href="{{ .Permalink }}" class="btn btn-primary">
                                Mehr erfahren <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}

        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container">
                {{ .Content }}
            </div>

            {{ partial "sidebar.html" . }}
        </div>
    </div>
</article>
{{ end }}